[2020-05-30 05:35] TylerLeonhardt opened #1 "fix ts compile issues"
Basically platform.ts needs to support strict null checks.

[2020-05-30 05:38] TylerLeonhardt opened #2 "Honor PowerShell extension settings"
We need to use the `powershell.powerShellDefaultVersion` setting and `powershell.powerShellAdditionalExePaths` setting in the PowerShell extension to make sure that our "discover tests" code uses the correct PowerShell exe.

[2020-05-30 05:46] TylerLeonhardt opened #3 "add setting to configure xml file location"
We need a configuration to change where the XML file is.

Right now it's hard coded to `TestExplorerResults.xml` in the root of the workspace

[2020-05-30 06:03] TylerLeonhardt opened #4 "File level should maybe just be file name instead of full path"
![image](https://user-images.githubusercontent.com/2644648/83320882-4506e180-a200-11ea-9b6d-1b70136b6d5b.png)

That file path getting cut off is not ideal... maybe the file name could be the label and the full file path can be the id.

This means that we need to change the logic of the tree traversal to check the `id` in addition to the `label`... but maybe that's fine.

[2020-05-30 06:07] nohwnd commented on #3
I think you meant `TestExplorerResults.xml`.

https://github.com/TylerLeonhardt/vscode-powershell-test-adapter/blob/master/src/pesterTests.ts#L61

[2020-05-30 20:03] TylerLeonhardt opened #5 "Allow configuration to use temporary console"
This would have to come from vscode-powershell first... and then this could leverage it.

[2020-05-31 02:17] TylerLeonhardt commented on #5
This is already a thing using a vscode-powershell configuration:

[code]

[2020-05-31 02:17] #5 closed

[2020-05-31 04:35] TylerLeonhardt commented on #4
Fixed.

[2020-05-31 04:35] #4 closed

[2020-05-31 16:42] TylerLeonhardt commented on #2
Fixed.

[2020-05-31 16:42] #2 closed

[2020-05-31 16:53] TylerLeonhardt commented on #3
Added.

[2020-05-31 16:53] #3 closed

[2020-06-01 01:45] TylerLeonhardt opened #6 "Support cancelling"
This will be hard since this is a separate extension. We don't expose a way for another extension to cancel another.

[2020-06-01 01:49] TylerLeonhardt opened #7 "Support "autorun""
* [ ]  watch the configuration for any changes that may affect the results of running the tests and emit an autorun event if necessary
* [ ]  watch the workspace for any changes to the source files and emit an autorun event if necessary

We should be careful with this because the test run doesn't happen in another process...

[2020-06-01 01:52] TylerLeonhardt opened #8 "Ensure that only one test run is active at a time"
Right now you can multi-select tests and they will trigger X separate runs. That's not ideal. We should only run one since that's all the PowerShell extension can handle at a time.

Perhaps Pester could also support specifying multiple `It`'s or `Describe`'s to run in a file. (cc @nohwnd)

All in all, I think this scenario is small and for now we should just say "it's not supported".

[2020-06-01 01:59] TylerLeonhardt opened #9 "Map NUnit states to Test Explorer states"
See this line of code:
https://github.com/TylerLeonhardt/vscode-powershell-test-adapter/blob/master/src/pesterTests.ts#L193

Here are the possible Test Explorer states:
[code]

I'm not sure which states Pester spits out in the NUnit report but we should map those to these.

cc @nohwnd your input here on what Pester supports in NUnit reports would be helpful.

[2020-06-01 08:23] nohwnd commented on #8
That already works, just pass mulitple files to Path and more line filters to line filter. And if it does not work it is a bug.

[2020-06-01 16:17] TylerLeonhardt commented on #8
We'll need a way in `vscode-powershell` to specify those things.

[2020-06-02 22:15] TylerLeonhardt commented on #9
Oh I think I found it:
https://github.com/pester/Pester/blob/edb9acb73461b55df397ef974d0da2a4bea6921f/src/functions/TestResults.ps1#L783-L796

[2020-06-03 01:47] #9 closed

[2020-06-03 03:57] TylerLeonhardt opened #10 "Include where failure happened"
Looks like we can include messages and text decoration to give a richer experience for when a test fails

https://github.com/hbenl/vscode-test-adapter-api/blob/5014a25bd0a6f5b383ca7f4da26559f6f9ecd34d/src/index.ts#L277-L287

[2020-06-12 16:11] bergmeister commented on #7
In Visual Studio land, they call this kind of feature "Live Unit Testing". I'm not a fan of that term but for consistency purposes it would probably be good to re-use the same name.

[2020-06-12 17:34] TylerLeonhardt commented on #7
"autorun" is what it's called in the Test Explorer ecosystem. I'm just reusing the term used there.

[2020-09-24 09:33] air2 opened #12 "New tests do not appear in the test explorer"
When I add tests in an test file (For example I add an **it** to an existing **describe**) the test explorer will not show them, until I issue the **>Test Explorer: Reload tests** command in the command palette.

Anyway very nice work so far! thank u

[2020-10-12 14:36] air2 opened #13 "It uses the description instead of the name so TestParams will not work because of duplicate names"
[code]
This result in two tests with the same name: **Some Test** because the description in **TestExplorerResults.xml** is **Some tests** where the name is **Some test cert:\LocalMachine\My** and **Some  test cert:\CurrentUser\My**

See the xml:
[code]

Can this be configured (For example to let me choose it uses the name field instead of the description.)

[2020-10-13 00:17] TylerLeonhardt commented on #13
Good idea

[2020-10-13 00:17] TylerLeonhardt commented on #12
Yep, I should be able to set up a file system watcher for this

[2020-12-01 04:29] #12 closed

[2020-12-02 00:45] TylerLeonhardt commented on #13
I've thought about it some more... @nohwnd is it possible for Pester to include the `(&quot;cert:\CurrentUser\My&quot;,False)` in the description?

[2020-12-02 00:53] TylerLeonhardt commented on #13
Perhaps the `JUnitXml` output is easier to manage? I'm curious about this.

[2020-12-02 00:54] TylerLeonhardt commented on #1
closed by depending on PowerShell extension's API

[2020-12-02 00:54] #1 closed

[2020-12-02 12:19] nohwnd commented on #13
Yeah but I think we had problems with that in past because the description was too long when a data set was provided that serialized into a long text.

[2020-12-02 21:44] TylerLeonhardt commented on #13
@nohwnd any idea if JUnitXml is any better as a format to manage? Does it include any additional details that the XUnitXml one doesn't?

[2020-12-07 23:25] #7 closed

[2020-12-08 08:30] PrzemyslawKlys opened #16 "*.Tests.ps1 files with no Describe blocks get executed"
Hi,

Just tried to run your extension. It doesn't go well.
1. Once I start project I can see this icon going in circles. It never stops

![image](https://user-images.githubusercontent.com/15063294/101458923-d5ed1100-3937-11eb-8127-438841a2d733.png)

2. Crashes shortly after that if it finds tests. If it doesn't nothing happens but the icon continues

![image](https://user-images.githubusercontent.

[2020-12-08 15:02] TylerLeonhardt commented on #16
This extension depends on the PowerShell Preview extension. Do you have that running? Does the Integrated Console start?

[2020-12-08 19:31] TylerLeonhardt commented on #16
I'll take a look! Thanks!

[2020-12-10 23:09] TylerLeonhardt commented on #16
@PrzemyslawKlys do you have Pester 5 installed?

[2020-12-10 23:27] TylerLeonhardt commented on #16
In the Output pane under "Pester Explorer Log" in the drop down can you share what's in there?

[2020-12-11 00:36] TylerLeonhardt commented on #16
NOTE: I just published 0.0.6 which should have a bit more polish. Maybe it'll work better for you.

[2020-12-11 08:24] PrzemyslawKlys commented on #16
I have no pester explorer log in the output pane:

![image](https://user-images.githubusercontent.com/15063294/101880042-9110e680-3b92-11eb-9068-4cb1e9ca9d96.png)

[code]

[code]

[2020-12-11 08:48] TylerLeonhardt commented on #16
@PrzemyslawKlys can you double check there's no output? I've noticed that the drop down to select the output scrolls and found Pester Test Explorer towards the bottom.

[2020-12-11 08:51] PrzemyslawKlys commented on #16
Ok, so the issue is -> before I enable your extension:

![image](https://user-images.githubusercontent.com/15063294/101882572-5c9f2980-3b96-11eb-8bc3-80339b600e6f.png)

The moment I enable it and wait till it crashes:

![image](https://user-images.githubusercontent.com/15063294/101882597-645ece00-3b96-11eb-9da2-864e8d21d02a.png)

It brings everything down.

[2020-12-11 08:52] PrzemyslawKlys commented on #16
I have opened it, and then let it crash and was able to get logs

[code]

[2020-12-11 08:53] PrzemyslawKlys commented on #16
Now I'm thinking, is the behavior good that it actually on first start executes my tests? Should it maybe prompt if you want to enable that?

[2020-12-11 18:07] TylerLeonhardt commented on #16
So the tests shouldn't be running... and I don't see how they could be possibly running... very strange.

Do you have autorun turned on at all for Test Explorer extensions maybe?

In any case, there's a couple problems here... we'll get through them... I'm made a small change that will make sure that `The predictive suggestion feature cannot be enabled because the console output doesn't support v

[2020-12-11 18:08] TylerLeonhardt commented on #16
(That was released like... 30s ago so it may take a bit to show up)

[2020-12-11 18:55] PrzemyslawKlys commented on #16
I've installed Test Extension just because you asked me to (to install your extension). Never configured it.

Executes on start:

[code]

[code]

[2020-12-11 19:36] TylerLeonhardt commented on #16
I noticed before that on Windows I had issues with quotes not being escaped... I've now fixed every single instance of that released in 0.0.8. That would explain why your tests were running because the file wasn't being treated as a string but rather a script file that needs to be executed...

Let's see

[2020-12-11 19:49] PrzemyslawKlys commented on #16
Yes, doesn't crash now

[code]

![image](https://user-images.githubusercontent.com/15063294/101948446-53dc4100-3bf2-11eb-8914-b7c8ac82f140.png)

Tests are there, tests explorer shows no tests.

[2020-12-11 20:00] TylerLeonhardt commented on #16
yep. I messed it up. ok :) once sec

[2020-12-11 20:04] TylerLeonhardt commented on #16
Ok 0.0.9 is out. I had thought I tested my original change but I was running old code... oops... I've tested this on Windows with 5.1 so I'm feeling pretty confident here.

[2020-12-11 20:46] PrzemyslawKlys commented on #16
Started crashing again

[code]

[code]

[2020-12-11 21:47] TylerLeonhardt commented on #16
ugh... I don't get how we have such different experiences... but I've added logging that will print out the exact script that I run. Let's see what that gets.

[2020-12-11 22:01] PrzemyslawKlys commented on #16
Log:

[code]

Log2:

[code]

[2020-12-11 22:24] TylerLeonhardt commented on #16
@PrzemyslawKlys can you run that script and tell me what you get?

[code]

All this is suppose to do is give a JSON representation of what tests you have.

[2020-12-11 22:25] TylerLeonhardt commented on #16
I may have to use EncodedCommand if running the script by itself works

[2020-12-11 22:33] PrzemyslawKlys commented on #16
[code]

It fully executes my Tests.

Keep in mind that:
-  'c:\Support\GitHub\GpoZaurr\GPOZaurr.Tests.ps1' - is my testing script setup so once you run it - it executes everything in Tests folder
- 'c:\Support\GitHub\GpoZaurr\Tests\GPOPermissions.Tests.ps1' - one of the tests
- 'c:\Support\GitHub\GpoZaurr\Tests\GPOOwners.Tests.ps1' - one of the tests

![image](https://user-images.githubusercontent

[2020-12-11 22:36] PrzemyslawKlys commented on #16
As soon as I renamed the root .Tests.

![image](https://user-images.githubusercontent.com/15063294/101961260-9f4e1980-3c09-11eb-9d05-09c7a5adc246.png)

Everything showed up. So it seems you execute the first file (which you shouldn't I guess).

[2020-12-11 22:55] TylerLeonhardt commented on #16
I see... ok now I understand. So perhaps I can check to see if there is a `Describe` block in the script before trying to parse it.

I think it's unusual that you have a `*.Tests.ps1` script that doesn't have a `Describe` block in it... that's not to say you can't do it but I made the assumption that `*.Tests.ps1`'s had `Describe` blocks.

@nohwnd, do you have any thoughts on this?

[2020-12-11 23:03] PrzemyslawKlys commented on #16
All my projects are built the same way:

![image](https://user-images.githubusercontent.com/15063294/101962759-42ecf900-3c0d-11eb-8caf-9720f848e70e.png)

In the root PSD1/PSM1/*.Tests.* and so on. Basically, I follow my own "schema". You cant' really assume it based on the name I guess with the exception of TESTS folder, but executing it automatically is risky anyways.

[2020-12-11 23:33] TylerLeonhardt commented on #16
So the problem is _really_ in Pester since we run internal cmdlets of Pester:

[code]

The question is... what part actually invokes your script? We have some suspects:
[code]

Can you do this for me? I want you to run ^ that script but:

1. Comment out SUSPECT 2 and 3
2. Run it. Does your script get executed?
3. If not, uncomment SUSPECT 2
4. Run it again. Does your script get executed?
5. If not

[2020-12-12 18:29] PrzemyslawKlys commented on #16
[code]

Suspect number 3 executes my code.

[2020-12-22 02:48] TylerLeonhardt commented on #16
I wanted to make sure I took the time to respond to this. I sympathize with you and think that it's fair to ask for what you're asking for... however, the work involved would be quite substantial.

*The root of the problem is that PowerShell is a dynamic language first, then static language 2nd*

**What do I mean by this?** PowerShell module's are imported with `Import-Module`... Alias's are set w

[2020-12-22 07:50] PrzemyslawKlys commented on #16
I understand all that. But:

- You need to add a step (logic) to your flow that prevents auto-execution. Not all tests are great (or even non-destructive) and executing them silently is pretty bad. In the case of GPOZaurr, it basically creates/deletes some permissions in GPO but it may as well remove GPOS, create new ones. This is my test AD so not a big deal but if someone copies the code to his

[2020-12-22 18:01] TylerLeonhardt opened #18 "Warn about Pester code execution"
From #16

I agree. I'll say

where the "always" option sets a configuration.

[2020-12-22 18:24] TylerLeonhardt commented on #16
I agree. Captured that here https://github.com/TylerLeonhardt/vscode-pester-test-adapter/issues/18

I can see 3 approaches to fixing this. Both not good enough:

#### 1. "Read in the script as a string and search for `Describe`

With more effort, one could search for the following instead for better accuracy:

1. `Describe -`
2. `Describe "`
3. `Describe '`
4. `Describe {`

##### False positives:

[2020-12-22 18:37] PrzemyslawKlys commented on #16
My tests in Tests folder are pretty direct:

![image](https://user-images.githubusercontent.com/15063294/102920969-e64ed100-448b-11eb-8c78-09abad0bd56f.png)

I can execute each test separately and it works.

My execution script is mostly used when I want to execute all tests or is directed for use in Azure. It doesn't do anything fancy - simply check if modules that are required by the script are

[2020-12-22 19:12] TylerLeonhardt commented on #16
How about this. I will do a very very basic search of "Is the word 'Describe' in this file?"... if it's not, then I will skip over that file. This should unblock you, at least, and although it leaves an edge case or 2, hopefully, if this actually affects someone, they will open an issue here for a further discussion...

[2020-12-22 19:25] #18 closed

[2020-12-22 19:26] #16 closed

[2020-12-22 19:30] TylerLeonhardt commented on #16
Ok 0.0.11 has been released. Please give it a go when you have a sec

[2020-12-22 19:35] PrzemyslawKlys commented on #16
Much better now.

![image](https://user-images.githubusercontent.com/15063294/102926256-fa4b0080-4494-11eb-9b23-a0088e480bd0.png)

0. Was prompted for discovery - although I wasn't really aware of what it will do, which files, no decision process here - just yes/no.
1. Run manually one test it worked properly
2. Did not run second test
3. Did run all tests - it acted by executing my root level Tes

[2020-12-22 19:54] TylerLeonhardt commented on #16
What would rather it say/do?

🎉

As in it didn't work?

Yeah so again, this is basically running `Invoke-Pester` with no `-Path` parameter on the root of your repo... which will find all `*.Tests.ps1` files and run them. So yes by-design.

[2020-12-22 20:03] PrzemyslawKlys commented on #16
0. Well if it would display all files it would run with checkboxes next to them to eventually uncheck (to ignore) would be a better one. When I see such a note I am not sure what you may be thinking about.
2. I didn't run it on purpose
3. Is it by design to not update the tests in explorer? I would expect that it would update it. Regardless if I run it from test explorer/manually/or however it wou

[2020-12-22 20:23] TylerLeonhardt opened #21 "Allow explicit configuration of which files to run"
We should have a dialog that pops up with all the tests in the directory and let users uncheck the ones they want to ignore.

[2020-12-22 20:31] TylerLeonhardt commented on #16
1. Captured in #21
2. OK cool that sounds correct
3. Might be a bug... The way the extension works is it has Pester output the test results to a file via Pester's built in NUnitXml output. You should be able to see it get generated/updated when you hit run.

[2020-12-22 20:40] PrzemyslawKlys commented on #16
So if I run it in test explorer - it updates it correctly when picking test by test. When doing the same thing but for global (on the image marked as 3) it doesn't update anything.

[2020-12-22 22:48] TylerLeonhardt commented on #16
@PrzemyslawKlys latest version has new feature to set the test root:

[code]

This should allow:
1. only things in that directory to be discovered
2. the "big play button" at the top will only run tests in that directory

[2020-12-22 22:52] TylerLeonhardt commented on #21
This is partially fixed with #22 ... you can now specify the root of where your tests are... but users may still want this feature so I'll leave it opened and if enough people want it, then it can be added.

[2020-12-22 22:52] PrzemyslawKlys commented on #16
Cool. Worked, and marked tests as done correctly.

[2020-12-22 22:53] TylerLeonhardt commented on #16
Awesome! You're unblocked 😁 please share the extension with your friends ;)

[2020-12-22 22:53] PrzemyslawKlys commented on #16
Maybe there should be a default set to Tests -> or some autodetection? I don't think I ever seen a project that puts tests in root?

[2020-12-22 22:59] PrzemyslawKlys opened #23 "TestExplorerResults.xml is created in root of projects"
When you run tests using your plugin it creates TestExplorerResults.xml in the root of my projects.

![image](https://user-images.githubusercontent.com/15063294/102940870-997df100-44b1-11eb-8d26-e1508e5403a4.png)

Not sure I want that there? Maybe some configuration for it, or default to temp?

[2020-12-22 23:23] TylerLeonhardt commented on #16
Yeah that's fair. 0.0.13 will now discover "test", "tests", "Test", "Tests" folders and use the first one it finds.

[2020-12-22 23:25] TylerLeonhardt commented on #23
`pesterExplorer.testResultsFilePath` is a path relative to your workspace... but you're right it should probably go somewhere in a temp file. I can't remember why I did it this way...

[2020-12-22 23:26] TylerLeonhardt commented on #23
For now, add it to your gitignore

[2020-12-23 09:07] PrzemyslawKlys opened #25 "Invalid pesterExplorer.TestRootDirectory on opening new projet"
So I've opened a new project, it asked me to scan things I pressed Always - and then I was greeted with invalid path + cannot debug (I guess I did it before PowerShell loaded)

![image](https://user-images.githubusercontent.com/15063294/102979208-0ae78f00-4506-11eb-9dc0-07492d3a95d5.png)

I already had:     `"pesterExplorer.testRootDirectory": "Tests"`, in my config from earlier projects. When I p

[2020-12-23 16:26] TylerLeonhardt commented on #25
What happens if you remove the `pesterExplorer.testRootDirectory` from your settings? You don't need it. It should automatically discover `Tests`

[2020-12-23 17:59] PrzemyslawKlys commented on #25
After removal, everything works correctly. However, you can set Tests from GUI and it breaks again. Something must be wrong with this setting.

[2020-12-23 18:32] TylerLeonhardt commented on #25
This is what happens when I code too fast... I really need to add tests. Anyway, this is fixed in 0.0.14

[2020-12-23 18:32] #25 closed

[2020-12-30 04:39] PsychoData commented on #13
I'm running into this myself in the output when I try to use Pester tests like
[code]

It looks like the Extension is using the line `<test-suite type="ParameterizedTest"`  and the `description` attribute of it.
![image](https://user-images.githubusercontent.com/3719116/103329105-48c64500-4a29-11eb-9b9a-4227d5f67bfb.png)

Based on the testing I tried, it only seems to be a problem when there are T

[2020-12-30 04:51] PsychoData commented on #13
actually, maybe not as important cause it doesn't have the actual tests or TestCases in it, but it looks like the dynamic doesn't work for Contexts either, possibly?

![image](https://user-images.githubusercontent.com/3719116/103330629-60ed9280-4a30-11eb-8b20-d30cefec71c6.png)

though it does work on the output of the tests
![image](https://user-images.githubusercontent.com/3719116/103330671-8aa6b

[2020-12-30 07:57] PrzemyslawKlys opened #27 "Gracefully handle lack of Pester 5.0"
![image](https://user-images.githubusercontent.com/15063294/103337863-dc753100-4a7c-11eb-9226-58207e6f9ae9.png)

I've just synced my settings to computer without Pester 5.0 and error popped up.

[code]

[2020-12-31 21:42] TylerLeonhardt commented on #27
I can't repro this... but 0.0.15 is out and I get rid of every single `throw` in my code so this should be fixed

[2020-12-31 21:42] #27 closed

[2020-12-31 22:20] #6 closed

[2020-12-31 22:21] TylerLeonhardt commented on #6
Now we cancel the task that launches. Simple!

[2021-01-01 02:14] TylerLeonhardt commented on #13
Ok so I'm going to call this issue fixed by #29... the problem is, when we discover what tests are in a file, we call into Pester APIs here:
https://github.com/TylerLeonhardt/vscode-pester-test-adapter/blob/master/src/powershellScripts.ts#L10-L71

Pester only gives us the Path with the `Some test <ExpectedPath>` and _not_ the actual resolved value `Some test C:\blah\blah`

Since this is the case,

[2021-01-01 02:17] #13 closed

[2021-01-01 02:18] TylerLeonhardt commented on #13
I wish the 'dynamic' value was given when we look for tests so that I could do something clever (or at least show the resolved name for `Context`'s!) but I'll defer that to @nohwnd for his expert advice. For now, I'll say this is fixed as best as I can

[2021-01-01 03:47] PsychoData commented on #13
nah, you can run it on a single object, you just have to force it to pass an array to -TestCases  even when there is only 1 item in the array to pass.

I'm doing this with the `-TestCases @($_) ` - the `@( $variable )` will make an array of one object, or any other objects inside it

![image](https://user-images.githubusercontent.com/3719116/103433099-2a8f4f00-4bb9-11eb-8f2f-4272db4f5504.png)

![i

[2021-01-01 03:49] PsychoData commented on #13
Yeah - I don't know if there is much you could do to find the names during discovery, but if it updated the names as the tests ran, after discovery had already been done before, then the output of the test shows the full, resolved names

[2021-01-01 04:43] TylerLeonhardt commented on #13
I meant, without modifying the script. If your script has an array of TestCases, and I want to run only the 3rd test case, how would I do that without modifying the script?

Yeah that's worth investigating. That should be a separate issue.

[2021-01-01 04:46] TylerLeonhardt opened #30 "Context/It with <var> syntax in it doesn't report state"
Example:

[code]

This doesn't show any state of running because when we "discover" this test, it is `asdf <env:PATH>` but when we run this test, it is `asdf /bin:/usr/local/bin:....`. There's no concrete way of matching the discovery result from Pester with the test result output.

[2021-01-01 04:47] TylerLeonhardt commented on #30
I think I need @nohwnd's thoughts on this to figure out a way to achieve this.

[2021-01-01 04:59] PsychoData commented on #13
that is true - currently when I try to re-run tests for the It with TestCases, it reruns all of the test cases for that test
that's still better than rerunning all of the whole suite of tests, though.

Only other thing I could think of would be to reference it by path to match the name, though it would be kind of bulky.

Or if there was some sort of test ID number, but I don't see a way to filter

[2021-01-01 05:08] TylerLeonhardt commented on #13
Right. I think allowing you to just run a single test case is out of my hands for now. Work would need to be done in Pester to support it.

[2021-01-09 01:50] JustinGrote opened #31 "Add Pester 5.1 requirement"
I was having a problem where I was only seeing the first `It` test for each item
![image](https://user-images.githubusercontent.com/15258962/104079882-e6fc9c80-51d9-11eb-9302-6d5807754c52.png)

Found I was on pester 5.0.4 and update to 5.1+ solved it, may want to add a prerequisite check.

[2021-01-09 02:29] JustinGrote opened #32 "Debug Button Uses wrong ScriptPath and excludes all tests"
The ScriptPath is missing the drive letter

This is true of both the debug codelens and the debug button in test explorer. Note `\Users` instead of `C:\users` in `ScriptPath`
![image](https://user-images.githubusercontent.com/15258962/104080839-4c9f5780-51df-11eb-81c7-794954bd2cf5.png)

[2021-01-09 20:14] TylerLeonhardt commented on #32
Fixed in 0.0.19 that just went live

[2021-01-09 20:17] TylerLeonhardt commented on #31
can you give this another go with 0.0.19? I think I might have fixed it.

[2021-01-10 04:37] JustinGrote commented on #31
It's a little tricky to retroactively do an older version of pester and not mess up my vscode, so I'll take your word for it :)

[2021-01-10 04:37] #31 closed

[2021-01-10 04:38] JustinGrote commented on #32
Verified! Thank you!

[2021-01-10 04:38] #32 closed

[2021-01-13 07:01] JustinGrote opened #34 "Allow configurable pester verbosity (and ideally inherit from Powershell extension)"
When I click the run for the tests, I prefer detailed to normal output. There should be settings to mirror these settings and ideally inherit these settings if not explicity set otherwise.

![image](https://user-images.githubusercontent.com/15258962/104417347-0ec96880-552a-11eb-8c6f-072c84ba44b2.png)

[2021-01-13 07:02] JustinGrote opened #35 "Feature Request: Pester Verbosity Setting"
When I click the run for the tests, I prefer detailed to normal output. There should be settings to mirror these settings and ideally inherit these settings if not explicity set otherwise.

![image](https://user-images.githubusercontent.com/15258962/104417347-0ec96880-552a-11eb-8c6f-072c84ba44b2.png)

[2021-01-13 17:47] TylerLeonhardt commented on #34
So luckily the Debug Output Verbosity is used already because vscode-pester-test-adapter uses the PowerShell extension for debugging.

The next change would be to hook up `powershell.pester.outputVerbosity` to vscode-pester-test-adapter. Pretty simple to do, I think:

[code]

and then pass that in to the script:

https://github.com/TylerLeonhardt/vscode-pester-test-adapter/blob/dfd4a1fcde1478d35c9

[2021-01-13 17:50] TylerLeonhardt commented on #35
Duplicate of #34 ?

[2021-01-13 18:17] JustinGrote commented on #35
Yup. Github has been 404ing sometimes on new issue but creates the issue anyways.

[2021-01-13 18:17] #35 closed

[2021-01-13 18:17] JustinGrote commented on #34
@TylerLeonhardt if it annoys me enough, maybe :)

[2021-01-17 01:02] JustinGrote commented on #23
I agree, it's easy enough to gitignore.

[2021-01-17 01:05] JustinGrote opened #36 "Discovery should start from workspaceroot by Default"
By having the extension search 'test','Tests',etc. it behaves differently than the normal Pester. For instance, if you have a Tests folder at the root and a Tests folder in a subdirectory (common for SecretManagement vault extensions), it only picks up the tests in the root Tests folder. I assumed I was doing something wrong so I spent a lot of time figuring out why this was happening until I foun

[2021-01-17 03:32] TylerLeonhardt commented on #36
I added this feature because of @PrzemyslawKlys. We came to the idea the most modules would just have a `Tests` folder and @Przemyslaw uses a non-Pester test file called `HisModuleName.Tests.ps1` in the root of the repo to invoke the tests but Pester was running that file and it was all very confusing... hence the 46 comments of this issue:

https://github.com/TylerLeonhardt/vscode-pester-test-ada

[2021-01-17 07:53] JustinGrote commented on #36
I mean .Tests.ps1 is so de-facto Pester these days he really should have just named it to something else, I don't think I'd ever see a .tests.ps1 file and think it wasn't a Pester file :)

That's fine, the workaround accomplishes what I need so probably don't need to invest more in here but I'll leave it as an open issue till a final decision is made.

Thanks again @TylerLeonhardt, this extension

[2021-01-17 09:11] PrzemyslawKlys commented on #36
I have .Tests. And it is a pester file. Just the execution of all tests pester file 😜

[2021-01-19 04:47] TylerLeonhardt commented on #36
I keep thinking about this more and the more I feel like the existing behavior is fine. There will be edge cases like building a secret management extension but for those, that's what the setting is there for.

I'm not sure how I could make it more discoverable that that setting exists without annoying the user...

but in this case there are pros and cons with both "leaving it at Root" and "being

[2021-01-19 05:07] JustinGrote commented on #36
Like I said, the workaround of just adding "." works fine, I'd say there just needs to be some clear documentation around that because it was **not** easy for me to figure out and I in general know what I'm doing, at least compared to a beginner who may be totally turned off that it's not finding his tests.

[2021-02-12 14:10] aguzev opened #37 "The adapter should not depend on PowerShell extension preview"
After installing Pester test explorer PowerShell extension preview is installed. PowerShell extension v2020.6.0+ should be the dependency.

[2021-02-12 15:27] TylerLeonhardt commented on #37
Right now it has to because there's code in the preview extension that I depend on.

[2021-03-03 09:15] vojtech-kasny opened #38 "Duplicated test ID"
Some tests results are not shown even when they are properly executed.
But the explorer says "There are multiple tests with the same ID"

![PesterExplorer](https://user-images.githubusercontent.com/16598196/109782584-53f44780-7c09-11eb-8f58-4a36b073b15e.png)

[code]

[2021-03-06 15:57] csandfeld commented on #37
Is this still the case now that the official (non-preview) PowerShell extension has been bumped to 2021.2.2 ?

[2021-03-06 18:15] TylerLeonhardt commented on #37
It's not. I need to update it

[2021-03-06 19:29] TylerLeonhardt commented on #37
I just published 0.0.20 which should allow the PowerShell extension to be used. Please let me know if it works for you.

[2021-03-06 19:29] #37 closed

[2021-03-07 09:59] csandfeld commented on #37
Looks good @TylerLeonhardt 👌
Thank you 😊

[2021-03-15 17:01] blindzero opened #39 "Cannot find Pester v5 although installed"
I have Pester v5 installed, now as some test even on AllUsers scope:
[code]

But anyway I still get the error:
[code]

Any idea? Thanks, appreciating your help.

[2021-03-15 17:15] TylerLeonhardt commented on #39
What version of PowerShell is the PowerShell extension for VS Code using? (run `$PSVersionTable` in the PowerShell Integrated Console)

[2021-03-15 19:17] blindzero commented on #39
I am using 5.1 Desktop

[2021-03-15 23:46] TylerLeonhardt commented on #39
Can you tell me what this setting is set to?: `powershell.powerShellDefaultVersion`

Does this happen when you Run or Debug tests?

[2021-03-16 09:16] blindzero commented on #39
In this workspace it is set to
[code]

[2021-03-20 15:06] TylerLeonhardt commented on #39
Very odd... That happens when we can't find the Pester module which really isn't my codes fault.

You can try running the script that I run in the extention to get a better sense:

https://github.com/TylerLeonhardt/vscode-pester-test-adapter/blob/master/src/powershellScripts.ts#L6-L108

All you need to do is change the top to be an array of test file paths.

Can you give it a go and see if anythin

[2021-03-20 21:25] JustinGrote opened #40 "Verbose Output creeping into json output, preventing parse of test results"
## Workaround
Ensure the **discovery** section of the tests has no verbose output. Normal test sections (e.g. BeforeAll, It, etc.) are fine.

## Evidence

Key section:
[code]

[code]

[2021-03-26 05:02] #40 closed

[2021-04-02 14:58] carlocardella commented on #39
I had a similar error for one of my modules, but it turned I had a typo in one of my test files.

Log from Pester Text Explorer:
[code]

I have multiple test files, in one of them I was trying to import a non existing module, which in turn apparently lead to an error in the Pester test discovery and ultimately the extension does not recognize any test.

Bottom line, this was a user error in my cas

[2021-04-02 16:00] TylerLeonhardt commented on #39
Interesting. @carlocardella in your case, I think I need to see if Pester couldn't discover tests due to an error and then let the user know about that.

[2021-04-16 20:25] jbolton-corvalgroup commented on #39
@TylerLeonhardt mine is definitely broken, but I think I why. **At least for my environment**.

Two places are not using my `$Env:PSModulePath` that's in my profile

## Easy fix?

If I could force it to use my `$Env:PSModulePath`, I think it'd fix the errors.

## Environment

**tl;dr; I can't use the default my documents folder.**

Work forces my documents path to be **network only** over VPN. Thi

[2021-04-16 21:39] TylerLeonhardt commented on #39
@jbolton-corvalgroup do you have admin permissions? Can you access the path `C:\Program Files\PowerShell\Modules`? If so, you _could_ install Pester using:

[code]

which you must run from an Administrator PowerShell session.

[2021-04-16 21:45] TylerLeonhardt commented on #39
Also, you could modify the environment variable for your user account:

![image](https://user-images.githubusercontent.com/2644648/115086898-059dbe00-9ec2-11eb-9ef7-83d6af54e2aa.png)

![image](https://user-images.githubusercontent.com/2644648/115087057-54e3ee80-9ec2-11eb-9833-0ee7f566066a.png)

[2021-04-29 07:46] endlessracingz opened #42 "Discover Fails 'Get-ScriptAnalyzerRule' is not recognized"
I have a test that uses Get-ScriptAnalyzerRule which I think is preventing the GUI from showing my tests. When I hit the run button I get the error:

When I manually run this test with 'Invoke-Pester' there are no issues.

The test is pretty simple, here is the snippet:

`Describe 'PSScriptAnalyzer Rules' -Tag 'Meta' {
	$rules = Get-ScriptAnalyzerRule | ForEach-Object {
		@{ RuleName = $_.RuleName

[2021-04-30 04:49] TylerLeonhardt commented on #42
In a PowerShell console outside of VS Code, is `Get-ScriptAnalyzerRule` available?

My suspicion is that you're relying on the PSScriptAnalyzer that ships in the PowerShell extension (and is available in the PowerShell Integrated Console) but the tests don't run in that, they get run in what's called a VS Code Task which is just a normal PowerShell console.

[2021-05-01 18:50] paule96 opened #43 "VSCode can\;;\"
It seems to be that this extension has trouble to get loaded correctly

[2021-05-01 20:26] TylerLeonhardt commented on #43
@paule96 do you have the PowerShell or PowerShell Preview extension also installed? That is a requirement.

[2021-05-01 21:40] endlessracingz commented on #42
@TylerLeonhardt you're right I thought I had it installed.

However, the GUI still doesn't seem to be appearing even though the VS Code Task runs smoothly.

[code]

![image](https://user-images.githubusercontent.com/6493594/116795627-3a497200-aa8b-11eb-8a56-5d18a8a0e2e2.png)

[2021-05-02 00:50] TylerLeonhardt commented on #42
In the Output pane under "Pester Explorer Log" in the drop down can you share what's in there?

[2021-05-02 11:42] paule96 commented on #43
thank's for the hint. It happends if both extensions (PowerShell and PowerShell Preview) are installed and activated. After disabling the non preview version it works fine. Maybe we can implement a simpler error message for that case?

[2021-05-02 14:40] TylerLeonhardt commented on #43
Ah. I could do that. Although the PowerShell extension should already send you a notification saying "hey you need to disable one!".

Do you see that notification? I'd rather not clutter notifications if I can.

[2021-05-03 21:04] endlessracingz commented on #42
[code]

[2021-05-03 23:49] TylerLeonhardt commented on #42
It's possible... in the log is spits out the full script that it's running:

[code]

Can you try to take that one line at a time in a fresh PowerShell window and tell me if anything looks odd?

[2021-05-06 16:59] endlessracingz commented on #42
Nothing looked odd to me. No errors or exceptions. This is the json that was generated:

[code]

[2021-05-06 17:46] Glober777 opened #44 "Support for dynamic tests (test cases)"
Let's say I have some dynamic tests in my project, as follows:

[code]

Currently, the Test Explorer doesn't know how to expand test names and shows them as follows:
![image](https://user-images.githubusercontent.com/18121861/117341829-44180e80-aeab-11eb-94d2-c8b98206e6cf.png)

However, even after the tests are executed (and all the dynamic names are expanded in the `TestExplorerResults.xml` file)

[2021-05-07 06:25] endlessracingz commented on #42
I was switching between PowerShell Core and Windows PowerShell and as I was doing so this error popped up in the 'Pester Explorer' Log':

[code]

Hoping this is helpful.

[2021-05-07 09:48] Glober777 commented on #44
Looks like this one is similar to #30.

[2021-05-07 09:48] #44 closed

[2021-05-07 09:53] Glober777 commented on #30
Actually, @nohwnd has just released [Pester 5.2](https://github.com/pester/Pester/releases/tag/5.2.0), which allows running only the Discovery phase:

You can now run only discovery. There is new option Run.SkipRun. Use it with Run.PassThru, to get the result object with all the tests in your test files. All tests will be marked as NotRun, unless there is Discovery failure of course.

That should

[2021-05-07 10:45] nohwnd commented on #30
Discovery only might help here, but only for static data. At the moment you can't take the discovered tests and feed that back to Invoke-Pester to run it. It will do second discovery and that can differ from the first one. If the above template expands to current date time, you will still have different text for discovery only and the full run.

I think I don't understand this, and so I don't unde

[2021-05-11 21:54] mkvideodj opened #46 "Test discovery hanging with Pester 5.2.0"
Hi.  I tried to debug the extension, but couldn't see anything obvious - other than an error that Reset-TestSuiteState was not a recognised function.  This was shown in the Pester Explorer log.  When I reverted back to Pester 5.1.1, this error wasn't seen in the log.  Debugging the extension I could see the promise for pesterTestRunner.loadPesterTests() being resolved - so maybe the exception is c

[2021-05-11 23:06] TylerLeonhardt commented on #46
@nohwnd any ideas on changes in 5.2 that might have broken me?

[2021-05-12 08:24] nohwnd commented on #46
It hangs for me even with 5.1.1.

https://github.com/TylerLeonhardt/vscode-pester-test-adapter/blob/master/src/adapter.ts#L63  Here you have what looks like a correct set of tests in both 5.1.1 and 5.2.0. So probably issue with firing the event and receiving it by the test explorer?

[2021-05-12 09:16] moerwald commented on #46
Same problem here. Updated Pester from 5.0.4 (everything ok) to 5.2.0 -> test explorer doesn't show anything.

[2021-05-15 07:45] TylerLeonhardt opened #47 "Looking for additional maintainers"
I'm having a hard time keeping up with maintaining this extension and am looking for folks to help me out.

It's clear to me that this extension has value, but I just don't have the time.

I'll continue to do work in short sprints every now and then but if I had a helping hand, it would really help bring this extension to the next level.

Here are the points that I'd like some help with that would

[2021-05-19 03:00] mikerosile commented on #46
I, too, was experiencing the same issue after upgrading to Pester 5.2.0.  I made some progress, though, to "fix" the Pester Test Explorer VS code plugin.  I'm going to post my findings here so that others may weigh in on the changes before I (or anyone) submit a formal Pull Request.

The issue seems to be with the "Discovery Script",  `~/.vscode/extensions/tylerleonhardt.vscode-pester-test-adapter

[2021-05-19 09:35] nohwnd commented on #46
Ah I remember, this is using the internal hack I wrote some time ago for Tyler when he was starting this up. IIRC this was to enable running just discovery? That is built-in now in Pester 5.2.0, you just need .Run.SkipRun = $true, and via PassThru you will get the result object with all the tests.

[2021-05-19 16:54] TylerLeonhardt commented on #46
I would like to try and push people to use 5.2 since this is an official API instead of the hacky script @nohwnd gave me :)

In this work we should notify the user that Pester 5.0 & 5.1 support  will be removed in the future.

[2021-05-19 17:20] mikerosile commented on #46
Thanks @nohwnd and @TylerLeonhardt , this helps provide the direction I need. I will take a 'stab' at updating the code and submitting a P.R.

[2021-05-19 17:22] TylerLeonhardt commented on #46
If you have trouble, just let me know! Also if you can't figure out the notification part, that's ok. I can do it/provide my thoughts on that.

[2021-05-25 22:22] JustinGrote opened #48 "Run vs. Debug doesn't handle unicode correctly"
Debug:

![image](https://user-images.githubusercontent.com/15258962/119576135-07825900-bd6d-11eb-8666-3fceddfeac84.png)

Run:
![image](https://user-images.githubusercontent.com/15258962/119576103-f76a7980-bd6c-11eb-93de-8dc0824ae731.png)

The glyph that didn't match is ✨
Probably just typical Powershell OutputEncoding issues.

[2021-05-26 00:10] JustinGrote commented on #48
Adding `[console]::OutputEncoding = [Text.Encoding]::UTF8` fixed it, maybe make this part of the invocation script?

[2021-05-26 02:46] TylerLeonhardt commented on #48
@JustinGrote makes sense to me! Wanna submit a quick PR?

[2021-05-26 02:51] JustinGrote commented on #48
I may not only because I noticed it happened in my local wt console too, so it may give a false impression of "OK" behavior that will fail in the real world.

[2021-05-26 04:17] TylerLeonhardt commented on #48
It does. Though, it sets it to UTF8...

[2021-06-01 16:27] JustinGrote opened #49 "Native Testing Fails with 'Reset-TestSuiteState' not recognized"
[code]

[2021-06-01 16:27] JustinGrote commented on #49
Maybe related to #46

[2021-06-01 16:28] JustinGrote commented on #49
Dupe of #46

[2021-06-01 16:28] #49 closed

[2021-06-11 05:12] nohwnd commented on #13
I think that is really hard for you to do, because the <> templates are resolved based on variables that are present when the test is running. You can partially populate it from the Data on the test (+ all it's parent blocks), but you won't be able to do it fully if user uses variables that are coming from BeforeAll, BeforeEach.

Pester does not have api for this, but if this extension detects cha

[2021-06-11 05:28] nohwnd commented on #30
After reading some other issue that links to this I think I know what the problem is, and there is no generic solution for this.

Problem:

You get list of objects that represent the discovered tests, some It blocks are generated from -TestCases / -ForEach. You run tests. You get list of objects that represent the executed tests.
You don't know how to map the results of the executed tests to the d

[2021-06-25 10:41] JFAlbrecht opened #51 "Test Explorer does not show tests"
Hi..

I can Run Tests from the Test explorer, but the Treeview remains Empty.
![Screenshot](https://user-images.githubusercontent.com/75018538/123412709-34b36880-d5b2-11eb-8b05-db8f1895c0f6.jpg)

Atached the Logfile. I hope, you can give me a hint, what I'm doing wrong.

[Pester.log](https://github.com/TylerLeonhardt/vscode-pester-test-adapter/files/6715592/Pester.log)

[2021-06-25 15:15] TylerLeonhardt commented on #51
Inside of the log file you'll see the script that we run to generate the tests.

Can you run it yourself and share the errors that it generates?

For your convenience, this is the script:
[code]

[2021-06-28 07:11] JFAlbrecht commented on #51
Hi Tyler,

I think, I tried this already. The result is:

Import-Module : Der Wert "Ignore" wird für ActionPreference-Variablen nicht unterstützt. Der angegebene Wert darf nur als Wert für einen Einstellungsparameter verwendet werden und wurde daher durch den
Standardwert ersetzt. Weitere Informationen finden Sie im Hilfethema "about_Preference_Variables".
In C:\Temp\Pester.ps1:9 Zeichen:1
+ Impor

[2021-06-29 15:43] JFAlbrecht commented on #51
Hi Tyler,

I did some more testing.
I commented the following three lines:

[code]

This resulted in the below Log:
It seems, the Script does a little bit more, but now it does not find a function named "Reset-TestSuiteState"

[code]

[2021-06-30 06:24] JFAlbrecht commented on #51
Hi...
Me again.
I read Issue #46 and rolled back to pester 5.1.1. Now, the errormessage about the reset-testsuite command is gone. However the Message "Unable to parse JSON Data" still remains and the test View is stipll empty

`
[2021-06-30 06:19:35.156] [DEBUG] child process exited with code 0
[2021-06-30 06:19:35.158] [ERROR] Unable to parse JSON data from Pester test discovery script. Contents

[2021-07-09 18:40] mtonnes-bc commented on #51
I'm experiencing the same issue -- attaching my own log.
[Pester2.log](https://github.com/TylerLeonhardt/vscode-pester-test-adapter/files/6793341/Pester2.log)

[2021-08-03 06:50] craiglemon commented on #51
I am having the exact same issue, and also have a fix.  I will submit a PR relating to this issue shortly

[2021-10-01 16:13] blindzero commented on #39
Somehow time fixes a lot...Pester is now found...poss. new environment, new setup, new VSCode, new Pester, ...

[2021-10-01 16:13] #39 closed

[2021-10-18 22:30] JustinGrote opened #54 "Consider adding deprecation warning?"
Hi Tyler,

Since you are not maintaining this module anymore, would you consider a PR for an information message that it has been deprecated and direct people to Pester Tests? It'll have a "Don't Show Again" for people who want to continue to use this version as-is, for instance for Pester 4 support.

[2022-01-12 10:44] alta4096 opened #55 "Feature Request: Add a "Pause" Button in Test Explorer bar"
Hi,
Thanks a lot for this great extension.
I think it would be practical to add a "Pause" button that will stop discovery, stop autorun on save.
Even if there is the setting pester.autoRunOnsave , this button will allow more dynamic interaction between code change and tests Runs.

My scenario is that during the conversion of pester v4 to pester v5 , this extension run the v4 tests and I would pref

[2022-01-12 10:52] alta4096 commented on #55
Opps Wrong repo, Sorry about that

[2022-01-12 10:52] #55 closed